[submodule "supports_mods"]
	path = /mods/back_to_old
	url = https://gitee.com/SuperQQBot/official-version-supports-mods
[submodule "mod_loader"]
	path = /mods/mod_loader
	url = https://gitee.com/SuperQQBot/official-mod-loader
